
@model QLHTQT_Aplication.Models.QLDeCuongModel
@{
}
<div class="box box-primary popupStyle">
    <div class="box-header with-border">
        <div class="box-header with-border text-center">
            <h3><strong>CHI TIẾT ĐỀ CƯƠNG</strong></h3>
        </div>
        <form action="">
            @Html.HiddenFor(x => x.Id)
            <div class="box-body box-profile">
                <div class="main">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <label>Mã đề cương:</label>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                @Html.TextBoxFor(x => x.Ma_de_cuong, new { @class = "form-control " })
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <label>Loại đề cương:</label>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                @Html.DropDownListFor(x => x.Loai_de_cuong, new SelectList(ViewBag.DSLoaiDeCuong, "Id", "Ten_loai_de_cuong"), new { @class = "form-control select2" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <label>Tên đề cương(VN):</label>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                @Html.TextBoxFor(x => x.Ten_de_cuong_VI, new { @class = "form-control " })
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <label>Ngày nộp:</label>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                @Html.TextBoxFor(x => x.Ngay_nop, new { @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <label>Tên đề cương(EN):</label>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-4">
                                @Html.TextBoxFor(x => x.Ten_de_cuong_EN, new { @class = "form-control " })
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2">
                                <label>Phạm vi địa lý:</label>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <select id="Pham_vi_dia_ly" class="form-control select2">
                                    <option value="1" selected>Trong nước</option>
                                    <option value="2" selected>Ngoài nước</option>
                                    <option value="2" selected>Trong nước & Ngoài nước</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn-sm btn btn-success" onclick="btnSave_Onclick(event)"><i class="fa fa-save"></i>&nbsp;CẬP NHẬT</button>&nbsp;&nbsp;
                        <button onclick="CloseModal(event)" class="btn-sm btn btn-danger" style="margin-left:5px"><i class="fa fa-close"></i>&nbsp;ĐÓNG</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        debugger
        $('.select2').select2();
        $('#Ngay_nop').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        });
    });
    function btnSave_Onclick(e) {
        e.preventDefault();
        var formdata = $("form").serializeArray();
        var data = {};
        $(formdata).each(function (index, obj) {
            data[obj.name] = obj.value;
        });
        $.ajax({
            url: '/QLDeCuong/_LuuThongTinDeCuong',
            type: 'post',
            data: {
                obj: data
            },
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                $("#dynamic-modal-sub").modal('hide');
                ShowToastMessage(data.msg, '', data.type);
                reload();
            },
            error: function (errorThrown) {
            }
        });
    }

    function CloseModal(e) {
        e.preventDefault();
        $("#dynamic-modal-sub").modal("hide");
    }

</script>
